/* Shelv Styling */

body {

	width: 100vw; height: 100vh;
	margin: 0;
	overflow: hidden;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;

	font-family: 'Oxygen';
	user-select: none;

	--fade-outline: #00000025;
	--background: #ffffff;
	--fade-icon: #00000094;
	--solid-color: #363636;
	--delete-color: #ff4f4f;
	--window-accent: #dedede;

	--time: 0.1s ease-in-out, transform 0s, background-image 0s, padding 0s, margin 0s;
	--active: scale(0.96);
	--active-list: scale(0.99);

	// Patterns from @d__raptis on twitter (https://www.magicpattern.design/tools/css-backgrounds)
	--bg-pattern: radial-gradient(var(--fade-outline) 1px, var(--background) 1px);
	--null-pattern: repeating-linear-gradient(
			-45deg, var(--fade-outline), var(--fade-outline) 5px, transparent 5px, transparent 25px
		);
	--box-shadow: #00000030;

	background-color: #ffffff;
	background-image: var(--bg-pattern);
	background-size: 15px 15px;

}

#Shelv {
	overflow-y: auto;
	scrollbar-width: thin;
}

#topui {

	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 24px;

	z-index: 995;

	position: fixed;
	top: 0; right: 0;
	padding: 24px;

	& > div {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 64px; height: 64px;

		font-size: 42px;
		color: var(--fade-icon);
		outline: solid 3px var(--window-accent);
		background-color: var(--background);

		transition: var(--time);

		&.sel {
			background-color: var(--solid-color);
			outline-color: var(--solid-color);
			color: var(--background);
		}
		&:hover:not(.sel) {
			color: var(--solid-color);
			outline-color: var(--solid-color);
		}
		&:active {
			transform: var(--active);
		}
	}

}

#dblabel {
	transition: var(--time);
	padding: 12px 24px;
	display: inline-flex;
	align-items: center;
	&:hover, &:active {
		background-color: var(--solid-color);
		color: var(--background);
	}
	&:active {
		transform: var(--active);
	}
	.fa {
		font-size: 48px;
		margin-left: 24px;
	}
}

#numberbox {
	margin: 72px 24px;
	.grid {
		display: grid;
		column-gap: 24px;
	}
	.box {
		font-size: 32px;
		outline: solid 4px var(--fade-outline);
		padding: 24px;
		margin-bottom: 24px;
		.fa { margin-right: 12px }
		transition: var(--time);
		&.center { text-align: center }
		&.click:hover, &.click:active {
			background-color: var(--solid-color);
			outline-color: var(--solid-color);
			color: var(--background);
		}
		&.click:active {
			transform: var(--active-list);
		}
	}
}

#list > div {
	font-size: 32px;
	padding: 24px;
	outline: solid 3px var(--fade-outline);
	margin-bottom: 24px;
	img {
		height: 14vh;
		margin-right: 24px;
	}
	display: flex;
	align-items: center;
	transition: var(--time);
	&:hover, &:active {
		outline-color: var(--solid-color);
	}
	&:active {
		transform: var(--active-list);
	}
}

#space {
	display: flex;
	flex-wrap: wrap;
}
#space > div {

	font-size: 32px;
	font-family: 'Oxygen-Bold';
	max-width: 384px;
	min-width: 384px;
	margin: 24px;
	outline: solid 3px var(--fade-outline);

	display: grid;
	grid-template-rows: 200px auto;
	padding: 12px;
	transition: var(--time);

	&:hover, &:active {
		outline-color: var(--solid-color);
	}
	&:active {
		transform: var(--active);
	}

	& > * { 
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.images {
		font-size: 0;
		img {
			width: 120px;
		}
		img.side {
			transform: scale(0.90) translateY(10px);
			opacity: 0.75;
		}
	}

	.label {
		border-top: solid 3px var(--fade-outline);
		padding: 10px;
		margin: 0 10px;
		padding-bottom: 4px;
		text-align: center;
		span {
			font-size: 24px;
			color: var(--fade-icon);
			margin-left: 12px;
		}
	}

}

#series {

	margin-top: unset;

	h1 {
		margin-top: 54px;
		margin-bottom: 32px;
		padding-bottom: 12px;
		border-bottom: solid 3px var(--fade-icon);
	}

	.flex {
		display: flex;
		flex-wrap: wrap;
		&.shrink { width: calc(100% - 500px) }
		& > div {
			margin: 20px;
			padding: 12px;
			outline: solid 3px var(--fade-outline);
			height: 200px;
			img { height: 200px }
			transition: var(--time);
			&:hover, &:active { outline-color: var(--solid-color) }
			&:active { transform: var(--active)	}
		}
	}


}

#editinstance {
	position: fixed;
	top: 0; right: 0;
	bottom: 0;
	width: 500px;
	margin: 12px 16px;
	background-color: var(--background);
	outline: solid 3px var(--solid-color);
	padding: 32px;
	font-size: 24px;
	z-index: 996;

	background-image: var(--bg-pattern);
	background-size: 15px 15px;
	background-position: calc(-100vw) -12px;
	box-shadow: var(--box-shadow) 0 0 24px;

	transition: transform 0.4s ease-in-out;

	&.hide {
		transform: translate(664px,0);
	}
	

	.close {
		border: solid 3px var(--solid-color);
		color: var(--fade-icon);
		width: 64px; height: 64px;

		position: absolute;
		top: 24px;
		left: -69px;
		font-size: 46px;

		display: flex;
		align-items: center;
		justify-content: center;

		border-right: solid 3px var(--background);
		background-color: var(--background);
		background-image: inherit;
		background-size: inherit;
		background-position: calc(-100vw - 69px) -24px;

		transition: var(--time);

		&:hover {
			color: var(--solid-color);
		}
		&:active {
			color: var(--background);
			background-color: var(--solid-color);
			background-image: none;
		}
	}

	.heading {
		font-size: 26px;
	}

	.divider {
		border-bottom: solid 3px var(--fade-outline);
		height: 0;
		margin: 12px 0;
	}

	img, .blank_img {
		width: 174px;
		outline: solid 3px var(--fade-outline);
		padding: 10px;
		margin: 3px;
	}

	.blank_img > dash {
		display: block;
		height: 262px;
		background-image: var(--null-pattern);
	}

	.delete-key {
		display: block;
		font-size: 20px;
		color: var(--delete-color);
		outline: solid 3px var(--fade-outline);
		padding: 12px;
		font-family: 'Oxygen-Bold';
		transition: var(--time);
		text-align: center;
		&:hover, &:active {
			background-color: var(--delete-color);
			outline-color: var(--delete-color);
			color: var(--background);
		}
		&:active {
			transform: var(--active);
		}
	}

}

input {
	background-color: var(--background);
	border: none;
	outline: solid 3px var(--fade-outline);
	padding: 12px;
	padding-left: 16px;
	font-size: 20px;
	width: calc(500px - 28px);
	margin-bottom: 12px;
	font-family: 'Oxygen-Bold';
	transition: var(--time);
	&:focus { outline-color: var(--solid-color); }
}
.sidegrid {
	display: grid;
	grid-template-columns: min-content auto;
	column-gap: 16px;
	margin-bottom: 12px;
	input {
		width: inherit;
		margin-bottom: 0;
	}
	span {
		display: flex;
		align-self: center;
		font-family: 'Oxygen-Bold';
		font-size: 26px;
		padding-left: 12px;
	}
}

.stacked {
	display: grid;
	grid-template-columns: 194px 282px;
	column-gap: 24px;
	.topgrid {
		input {
			width: 258px;
		}
		span {
			font-family: 'Oxygen-Bold';
			font-size: 26px;
			display: block;
			margin-bottom: 12px;
		}
	}
	.sidegrid {
		margin-top: 12px;
		span { padding-left: 0 }
		input {
			width: 162px;
		}
	}
}

#blind {

	position: fixed;
	top: 0; right: 0;
	left: 0; bottom: 0;
	background-color: #00000024;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 997;

	animation: fadeIn 0.14s ease-in-out;

	#net {
		position: fixed;
		top: 0; right: 0;
		left: 0; bottom: 0;
		z-index: 1;
	}
	.window {
		background-color: var(--background);
		background-image: var(--bg-pattern);
		background-size: 15px 15px;
		z-index: 2;
		outline: solid 3px var(--window-accent);
		box-shadow: var(--box-shadow) 0 0 100px;
	}

	#switch_database {
		width: 400px;
		height: 80vh;
		padding: 24px;
		& > div {
			font-family: 'Oxygen-Bold';
			display: block;
			font-size: 46px;
			text-align: center;
			padding: 32px;
			outline: solid 4px var(--fade-outline);
			margin-bottom: 24px;
			transition: var(--time);
			.fa { margin-right: 4px }
			&.sel { outline-color: var(--solid-color); }
			&:hover, &:active {
				outline-color: var(--solid-color);
			}
			&:active {
				transform: var(--active);
			}
		}
	}

	#newitem {
		width: 700px;
		height: 350px;
		padding: 24px;
		display: grid;
		grid-template-columns: auto auto;
		column-gap: 24px;

		& > div {
			border: solid 3px var(--fade-outline);
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 32px;
			flex-direction: column;
			transition: var(--time);
			font-family: 'Oxygen-Bold';

			i {
				font-size: 64px;
				margin-bottom: 16px;
			}

			&:hover, &:active { border-color: var(--solid-color) }
			&:active { 
				transform: var(--active);
			}
		}

	}

	#isbn_search {
		font-size: 32px;
		padding: 24px;
		min-width: 40vw;
		#search_in { font-family: 'Oxygen-Bold' }
		#search_results {
			.grid {
				display: grid;
				grid-template-columns: min-content auto;
				margin: 24px 0;
				margin-right: 12px;
				column-gap: 24px;
			}
			img {
				outline: solid 3px var(--fade-outline);
				padding: 10px;
				margin: 3px;
			}
			.heading {
				font-family: 'Oxygen-Bold';
				margin-top: 16px;
				font-size: 36px;
			}
			.addbutton {
				font-size: 24px;
				padding: 16px;
				margin: 3px;
				margin-top: 20px;
				outline: solid 3px var(--fade-outline);
				transition: var(--time);
				&:hover, &:active {
					color: var(--background);
					background-color: var(--solid-color);
					outline-color: var(--solid-color);
				}
				&:active {
					transform: var(--active);
				}
			}
		}
	}

	#delete_warning {
		padding: 32px;

		h1 {
			font-size: 32px;
			margin-top: 0;
		}

	}

	#new_database {
    	padding: 26px 32px;
		.label {
			font-size: 32px;
			padding-bottom: 24px;
			font-family: 'Oxygen-Bold';
		}
		input {
			text-align: center;
		}
		.centflex {
			display: flex;
			justify-content: center;
			padding-top: 12px;
		}
		.button {
			display: inline-block;
			font-size: 24px;
			outline: solid 3px var(--fade-outline);
			padding: 16px;
			text-align: center;
			transition: var(--time);
			font-family: 'Oxygen-Bold';
			&:hover, &:active {
				background-color: var(--solid-color);
				outline-color: var(--solid-color);
				color: var(--background);
			}
			&:active {
				transform: var(--active-list);
			}
		}
	}

}

.view {
	margin: 52px;
	margin-top: 120px;
}

h1 {
	margin: 24px 0;
	font-size: 64px;
	font-family: 'Oxygen-Bold';
	& > .fa {
		position: relative;
		margin-left: 64px;
		transform: scale(3) translate(0,-8px);
		color: var(--fade-outline);
		z-index: -1;
		width: 52px;
	}
}

.buttons {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 12px;

	div {
		font-size: 24px;
		outline: solid 3px var(--fade-outline);
		padding: 16px;
		text-align: center;
		transition: var(--time);
		font-family: 'Oxygen-Bold';
		&:hover, &:active {
			background-color: var(--solid-color);
			outline-color: var(--solid-color);
			color: var(--background);
		}
		&:active {
			transform: var(--active-list);
		}
		&.warn {
			color: var(--delete-color);
			&:hover, &:active {
				background-color: var(--delete-color);
				outline-color: var(--delete-color);
				color: var(--background);
			}
		}
	}
}


/* icon spacing fix */
.fa-th-list, .fa-th-large, .fa-chevron-right {
	transform: translateY(2px);
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--fade-outline);
}

/* animations */
@keyframes fadeIn {
	from { opacity: 0 }
	to { opacity: 1 }
}

/* font import */
@font-face {
	font-family: 'Oxygen';
	src: url(./fonts/Oxygen-Regular.ttf);
}

@font-face {
	font-family: 'Oxygen-Bold';
	src: url(./fonts/Oxygen-Bold.ttf);
	font-weight: bold;
}