<!DOCTYPE html>
<html>
<head>

	<title>/SHELV/</title>
	<meta charset='utf-8'>
	<link rel='stylesheet/less' type='text/css' href='index.less'/>

	<!-- Web Modules -->
	<script src='./external/less-4.js'></script>
	<script src='./external/vue.min.js'></script>
	<script src='./external/socket.io.min.js'></script>
	<script src='https://use.fontawesome.com/ae4de1a544.js'></script>

</head>
<body><div id='Shelv'>


<div id='topui'>
	<div v-for='i in viewlist' :class='{sel: view===i[0]}' @click='setView(i[0])'><i :class='i[1]'></i></div>
</div>


<div class='view' id='home' v-if='view === "home"'>
	<h1><i class='fa fa-database'></i>
		<span id='dblabel' @click='window = "switch_database"'>{{ database_name }} <i class='fa fa-chevron-right'></i></span>
	</h1>
	<div id='numberbox'>

		<div class='grid' style='grid-template-columns: 1fr 1fr;'>
			<div class='box center'><i class='fa fa-book'></i>	
				{{ main.length }}
				<span v-if='main.length===1'>Volume</span>
				<span v-else>Volumes</span>
			</div>
	
			<div class='box center'><i class='fa fa-flag'></i>
				<span v-if='groups.Series'>{{ Object.keys(groups.Series).length }}</span> Series
			</div>
		</div>

		<div class='box click'><i class='fa fa-plus'></i> Add New Manga</div>
		<div class='box click'><i class='fa fa-barcode'></i> Open Barcode Scanner</div>
		
	</div>
</div>
<div class='view' id='space' v-if='view === "space"'>

</div>
<div class='view' id='list' v-if='view === "list"'>
	
	<!-- Sort... -->

	<div v-for='(x,i) in main' @click='setInstance(i)'><img :src='x.cover'/>{{ x.title }}</div>

</div> <!-- https://www.googleapis.com/books/v1/volumes?q=isbn:___ -->


<div id='editinstance' :class='{ hide : working_index === false}'>
	<div class='close' @click='working_index = false'><i class='fa fa-chevron-right'></i></div>

	<input type='text' class='heading' v-model='working_instance["title"]' placeholder='Volume Title...'/>
	<input type='text' class='subheading' v-model='working_instance["author"]' placeholder='Author...'/>
	<div class='sidegrid'>
		<span>ISBN: </span>
		<input type='text' v-model='working_instance["isbn"]'/>
	</div>

	<div class='divider'></div>

	<div class='stacked'>
		<div v-if='working_instance["cover"] === false' class='blank_img'><dash></dash></div>
		<img v-else :src='working_instance["cover"]'/>
		<div>

			<div class='sidegrid'>
				<span>Series: </span>
				<input type='text' v-model='working_instance["series"]'/>
			</div>
			<div class='sidegrid'>
				<span>Volume #: </span>
				<input type='number' v-model='working_instance["volume"]'/>
			</div>

		</div>
	</div>

</div>


<div id='blind' v-if='window'>
	<div id='net' @click='window = false;'></div>

	<div v-if='window === "switch_database"' id='switch_database' class='window'>
		<div class='sel' @click='window = false'><i class='fa fa-database'></i> {{ database_name }}</div>
		<div v-for='x in database_list' v-if='x !== database_name'>
			<i class='fa fa-database'></i> {{ x }}
		</div>
		<div><i class='fa fa-plus'></i> New</div>
	</div>

</div>


<!-- Main -->
<script src='./index.js'></script>

</div></body>
</html>